{% load static %}
<html>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  </head>
  <body>
    <form action="../mealtobatch/" method="post">
      <div style="display: flex;flex-direction: column;align-items: center;width: 100%; justify-content: center; height: 98vh;">
            <div style='border: 2px solid black;border-radius:25px; width:20%;margin-top:1%; display:flex; flex-direction:column; align-items:center;'>
              <p style='font-size:200%;'>{{meal.mealname}}</p>
              <img style='width:80%;' src='{{meal.mealphoto}}'>
              <div style='display:flex; flex-direction:row;'>
                {% for mealcategorie in mealcategories %}
                    {% if meal.id == y.mealcategorie.id %}
                      <img style='width:100%;' src="{{ y.c.cphoto }}"> 
                    {% endif %}
                {% endfor %}
              </div>
              <div style='width:70%; text-align: center;'>
                <p style='font-size:100%;'>{{meal.mealdesc}}</p>
              </div>
                <input value="{{ meal.id }}" style="display: none;" name="mealid" >
                <input value="{{ where }}" style="display: none;" name="where" >
                <label for="quantity">QUANTITY</label>
                <input type="number" id="quantity" name="quantity" min="1" max="99" value="1" name="quantity"/>
                <p id="total">{{meal.price}}€</p>
            </div>
        <br>
        <button type="submit">Add to cart</button>
      </form>
      </div>
      <script>
        $("#quantity").on("input", function() {
          $("#total").html($("#quantity").val()*"{{meal.price}}" + "€")
        });
      </script>
  </body>
</html>