{% extends 'base.html' %}
{% load static %}
{% block content %}
<form action="../carttohistory/" method="post">
  <div style="display: flex;flex-direction: column;align-items: center;width: 100%;">
    <div>
      <p class="text" style="font-size: 300%;">{{ user }} cart</p>
    </div>
    <div id="meals">
      {% for batch in batches %}
      <div class='mealdiv' style="width: 20%;">
        <p class='text' style='font-size:200%;'>{{batch.batch.meal.mealname}}</p>
        <img id='mealimage' src="{{batch.batch.meal.mealphoto}}">
        <p class="text" style='font-size:150%;' for="quantity">QUANTITY: {{batch.batch.quantity}}</p>
        <total class="text" style='font-size:200%;'>{%widthratio batch.batch.meal.price 1 batch.batch.quantity %}€
        </total>
        <a class="button" style='font-size:120%; width:40%;margin:auto;margin-bottom:4%;'
          href="../deletebatch/{{batch.id}}">Delete</a>
      </div>
      {% endfor %}
    </div>
    <p class="text" style="font-size: 300%;" id="total"></p>
    <button class="button" type="submit">Buy</button>
  </div>
</form>
<script>
  var total = 0;
  $(document).ready(function () {
    $("total").each(function (i) {
      total += parseInt($(this).html().slice(0, -1));
    });
    $("#total").html("Total: " + total + "€");
  });
</script>
{% endblock content %}