{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div id="indexdiv">
      <img id="tree" src="../static/Images/WiseMysticalTreeClose.jpg">
      <a class="text" style="text-decoration: underline;" href=''>Try Again</a>
      <div id="questions">
        <p class="text" style="padding: 1%;" id="question">The most mystical and wise tree will choose the food for you</p>
        <button class="button" id="start" value="">Start</button>
        <button class="button" id="yes" value="" style="display:none;">Yes</button>
        <button class="button" id="no" value="" style="display:none;">No</button>
        <button class="button" id="showmeal" value="" style="display:none;">Show</button>
      </div>
      <div id="meals"></div>
      <audio id="audio" src="../static/Sound/oof.mp3"></audio>
    </div>
  <script>
    var categorygroups = [];
    var preferences = [];
    var notimes = 0;
    var number = 0;
    var preference = false;

    function setTalkingTree() {
        var question = $("#question").html().split(" ");
        for (let i = 0; i <question.length*2; i++) {
          let interbal = Math.floor((Math.random() * 1500) + 1000);
          setTimeout(
            function () {
              var audio = document.getElementById("audio");
              audio.play();
              if($("#tree").attr('src') == "../static/Images/WiseMysticalTreeClose.jpg"){
                $("#tree").attr('src',"../static/Images/WiseMysticalTreeOpen.jpg") ;
              }else{
                $("#tree").attr('src', "../static/Images/WiseMysticalTreeClose.jpg");
              }
            }, interbal);
        }
        $("#question").attr('src', "../static/Images/WiseMysticalTreeClose.jpg");
    }

    $(document).ready(function () {
      setTalkingTree();

      $("#start").click(function () {
        $("#yes").show();
        $("#no").show();
        $("#start").hide();
        let json = {
          categorygroups: JSON.stringify(categorygroups),
          preferences: JSON.stringify(preferences),
          number: JSON.stringify(number)
        };
        let csrftoken = "{{csrf_token}}";
        $.ajax({
          type: 'POST',
          headers: { 'X-CSRFToken': csrftoken },
          url: "{% url 'filterquestion' %}",
          data: json,
          dataType: 'json',
          success: function (data) {
            let lerroa = data[0];
            $("#yes").val(data[1]);
            $('#question').html(lerroa);
            setTalkingTree();
          }, error: function (e) {
            alert(e);
          }
        })
      });

      $("#yes").click(function () {
        categorygroups.push($("#yes").val());
        if (preference) {
          preferences.push($("#yes").val());
        }
        number = notimes;
        let json = {
          categorygroups: JSON.stringify(categorygroups),
          number: JSON.stringify(number)
        };
        let csrftoken = "{{csrf_token}}";
        $.ajax({
          type: 'POST',
          headers: { 'X-CSRFToken': csrftoken },
          url: "{% url 'filterquestion' %}",
          data: json,
          dataType: 'json',
          success: function (data) {
            if (data[0] != "") {
              $("#yes").val(data[1]);
              $('#question').html(data[0]);
              preference = data[2];
            } else {
              $('#question').html("The MysticalWiseTree thinks that the perfect meal for your need is");
              $("#yes").hide();
              $("#no").hide();
              $("#showmeal").show();
            }
            setTalkingTree();
          }, error: function (e) {
            alert(e);
          }
        })
      });

      $("#no").click(function () {
        notimes++;
        number += 1;
        let json = {
          categorygroups: JSON.stringify(categorygroups),
          number: JSON.stringify(number)
        };
        let csrftoken = "{{csrf_token}}";
        $.ajax({
          type: 'POST',
          headers: { 'X-CSRFToken': csrftoken },
          url: "{% url 'filterquestion' %}",
          data: json,
          dataType: 'json',
          success: function (data) {
            if (data[0] != "") {
              $("#yes").val(data[1]);
              $('#question').html(data[0]);
              preference = data[2];
            } else {
              $('#question').html("The MysticalWiseTree thinks that the perfect meal for your need is");
              $("#yes").hide();
              $("#no").hide();
              $("#showmeal").show();
            }
            setTalkingTree();
          }, error: function (e) {
            alert(e);
          }
        })
      });

      $("#showmeal").click(function () {
        let json = {
          categorygroups: JSON.stringify(categorygroups),
          preferences: JSON.stringify(preferences),
        };
        let csrftoken = "{{csrf_token}}";
        $.ajax({
          type: 'POST',
          headers: { 'X-CSRFToken': csrftoken },
          url: "{% url 'filtermeal' %}",
          data: json,
          dataType: 'json',
          success: function (data) {
            let lerroa ="";
            
            for (let i = 0; i < data.length; i++) {
              lerroa += "<div class='mealdiv'>"
              lerroa += "<p class='text' style='font-size:200%;'>"+data[i][0][0]+"</p>";
              lerroa += "<img id='mealimage' src='"+data[i][0][2]+"'>";
              lerroa += "<div id='categorydiv'>"
              for (let k = 1; k < data[i].length; k++) {
                lerroa += "<img class='categoryimg' src='" + data[i][k][1] + "'>";
              }
              lerroa += "</div>"
              lerroa += "<div style='width:70%; text-align: center; margin:auto;'>"
              lerroa += "<p class='text' style='font-size:150%;'>"+data[i][0][1]+"</p>";
              lerroa += "<p class='text' style='font-size:200%;'>"+data[i][0][3]+"€</p>";
              lerroa += "</div>"
              lerroa += "<br>";
              lerroa += "<a class='button' style='font-size:90%; width:80%;margin:auto;margin-bottom:4%;' href='addmeal/"+data[i][0][5]+"'target='_blank' > ADD TO CART </a>";
              lerroa += "</div>"
            }
            $('#meals').html(lerroa)
            $("#showmeal").hide()
          }, error: function (e) {
            alert(e);
          }
        })
      });
    });
  </script>
{% endblock content %}