{% extends 'base.html' %}
{% block content %}
{% load static %}
<html>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  </head>
  <body>
    <div id="indexdiv"">
        <div>
          <p class="text" style='font-size:300%;'>Menu</p>
        </div>
        <div id="meals">
          {% for meal in meals %}
          <div class="mealdiv">
            <p class='text' style='font-size:200%;'>{{meal.mealname}}</p>
            <img id='mealimage' src='{{meal.mealphoto}}'>
            <div id="categorydiv">
              {% for mealcategory in mealcategories %}
                  {% if meal.id == mealcategory.meal.id %}
                    <img class='categoryimg' src="{{ mealcategory.c.cphoto }}"> 
                  {% endif %}
              {% endfor %}
            </div>
            <div style='width:70%; text-align: center; margin:auto;'>
              <p class="text" style='font-size:150%;'>{{meal.mealdesc}}</p>
              <p class="text" style='font-size:200%;'>{{meal.price}}€</p>
            </div>
            <td><a class='button' style='font-size:90%; width:80%;margin:auto;margin-bottom:4%;' href="/addmeal/{{ meal.id }}" target="_blank">Add to cart</a></td>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </body>
</html>
{% endblock content %}